body{
    background-color:lightgrey;
}

.container-all{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:#f2f2f2;
}

.container{
    display:flex;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.container-item{
    border:1px solid red;
    flex:1;
    background-color:rgba(0,128,255,0.2);
}

.item{
    border:1px solid red;
    flex-basis:200px;
    background-color:rgba(0,128,255,0.2);
}

.item-extend{
    flex-grow: 1;
}

.row{
    flex-direction:row;
}

.row{
    flex-direction:column;
}

.wrap{
    flex-wrap:wrap;
}