body #first *, body #second *,.middle{
    border:1px solid red;
}
#first *{
    background-color:yellowgreen;
    float:left;
    clear:left;
}
.middle{
    background-color:yellow;
    clear:both;
}
#second *{
    background-color:lightcoral;
    clear:right;
    float:right;
}